body {
    font-size: small;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    padding: 10px;
    background-image: url(br.jpg);
    background-attachment: fixed;
    }
    h1, h2, h3 {
    color: #dfa527;
    font-family: sans-serif;
    }
    h1 {
    font-size: 150%;
    }
    h2 {
    font-size: 130%;
    }

.xinxo{
    border-color: #dbba5e;
    border-width: 5px;
    border-style: outset;
    border-radius: 10px;
    color: #444444;
    line-height: 1.9em;
    background-color: #dbba5e;
    padding: 10px;
    padding-left: 30px;
    margin: 2%;
}

#drinks{
    border-width: thin;
    border-style: dotted;
    border-color: #444444;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color:antiquewhite;
    float:right;
}

#footer {
    font-size: 80%;
    text-align: center;
    line-height: normal;
    margin-top: 10px;
    float: center;
    }

#gioithieu{
    width: 80%;
    float: left;
    text-align: center;
    padding-left: 2em;
    text-indent: 10px;
}

#other{
    width: 80%;
    float: left;
    padding-left: 2em;
}

#toppage{
    text-align:center;
}

